<div id="attendees">
  <p><i class="material-icons md-18">people</i>&nbspAttendees (<%= @event.attendees.count %>) </p>
  <ul class="users">
    <% @event.attendees.each do |user| %>
      <%= render 'events/user', user: user %>
    <% end %>
  </ul>
</div>