<ul class="nav nav-tabs">
  <li class="active"><a href="#upcoming" data-toggle="tab">Upcoming Events</a></li>
  <li><a href="#past" data-toggle="tab">Past Events</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="upcoming">
    <% @events.upcoming.each do |event| %>
      <%= render 'events/event_main', event: event %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="past">
    <% @events.past.each do |event| %>
      <%= render 'events/event_main', event: event %>
    <% end %> 
  </div>
</div>

