<footer>
  <p>Developed by Fabricio Carrara&nbsp&nbsp
    <a href="https://github.com/fcarrara/private-events"><img class="github-mark" src="/assets/github-mark.png" alt="github mark"></a>
  </p>
</footer>